<div class="temp">
	<h1></h1>
	<table width="1100">

		<tbody>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>

			<tr>
				<td></td>
				<td style="float: right;line-height: 1.4;padding:40px;">
					Kepala Laboraturium,nama_lab
					<br><br><br><br>
					<p>nama_kalab</p>
                    <p style="margin-top:0px !important;">nib_kalab</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>
