<div class="temp">
	<h1></h1>
	<table width="1100">

		<tbody>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>

			<tr>
				<td style="float: left;line-height: 1.4;padding:40px;">
					<p><b>Pihak Kedua<br> Yang menerima barang</b></p>
					<br><br><br><br>
					<p>nama_kalab</p>
                    <p style="margin-top:0px !important;">nib_kalab</p>
				</td>
                <td style="float: right;line-height: 1.4;padding:40px;">
                    <p><b>Pihak Pertama<br> Yang menyerahkan barang</b></p>
					<br><br><br><br>
					<p>nama_rt</p>
                    <p style="margin-top:0px !important;">nib_rt</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>
