<div class="temp">
	<h1></h1>
	<table width="1100">

		<tbody>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>

			<tr>
				<td></td>
				<td style="float: right;line-height: 1.4;padding:40px;">
					Kepala Laboraturium <span id='nama_lab'></span>
					<br><br><br><br>
					<p><span id='nama_kaleb'></span></p>
                    <p style="margin-top:0px !important;">
						<span id='nip_kaleb'></span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>
