<div class="temp">

	<b>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt autem corporis mollitia enim quia aperiam ab
		perspiciatis error saepe modi officia, animi, cum voluptas ipsam distinctio reiciendis repudiandae itaque! Esse
		fugit quia impedit corrupti delectus corporis nam aspernatur incidunt nobis non a eum, voluptatibus ipsa
		recusandae laboriosam reiciendis consectetur cumque illum iure est quis reprehenderit. Temporibus maxime sint
		quisquam quae voluptas sed, voluptatem voluptates fugit porro, odit natus consequatur perspiciatis aperiam earum
		eum enim architecto maiores eveniet, placeat ea ducimus minima. Praesentium sapiente, sint minus cum inventore
		rerum saepe, suscipit adipisci neque expedita voluptatem blanditiis rem iste. Eligendi, nostrum molestias?
    </b>

    <hr>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

</div>