.prop_aman {
    cursor: move;
	width: 150px;
	height: 150px;
	background-color: #272e6e;
	border-radius: 12px;
	position: relative;
	/* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
	/* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.prop_aman > p {
    font-size: larger;
    cursor: move;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    color: white;
}

.prop_problem {
    cursor: move;
	width: 150px;
	height: 150px;
	background-color: #FFC55C;
	border-radius: 12px;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.prop_problem > p {
    font-size: larger;
    cursor: move;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    color: #252525;
}

.box-edit-hapus{
	background-color:white;
	padding: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	border-bottom-right-radius: 10px;
}

.box-edit-hapus > a{
	/* color: white; */
	margin-right: 4px;
	margin-left: 4px;
}

.fa-trash{
	color: red;
}

.box-lapor{
	background-color:white;
	padding: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	width: 80%;
	text-align: center;
}

.box-tek{
	cursor: auto;
}